.agents-tab-bg {
  background: $green-bg-color;
}

.agents-container {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #fdffff;
  box-shadow: 0px 0px 2.79323px rgba(0, 0, 0, 0.25);
}

.fixed-leftnav {
  position: sticky;
  top: 60px;
}

.profile {
  width: 100px;
}

.ant-list .ant-list-item {
  font-family: "Poppins";
}

.flag-container {
  width: 90px;
  height: 100px;
  background: $white;
  box-shadow: 0px 0px 2.75196px rgba(78, 182, 100, 0.53);
  border-radius: $radius-10;
}

.active-flag {
  background: $btn-clr;
  color: $white;
}
