.exports-pvt-txt {
  color: #0085ff;
}

.location-txt {
  color: #a8a8a8;
}

.rating-txt {
  color: #8f8f8f;
}

.star-color {
  color: $active-tab !important;
}

.contact-profile-text {
  color: #8f8f8f;
  padding-top: 1px;
}

.zircon-blue {
  color: #00849f;
}

.profile-bdr-btm {
  border-bottom: 2px solid #b8b8b8;
}

.awards-bdr {
  border: 2px solid #b8b8b8;
}

.capri-breeze-bg {
  background: #0b88a9;
}

.about-exporter-container-profile {
  width: 210px !important;
}

.badge-container-profile {
  left: 60px !important;
}
