.p1 {
  padding: 10px;
}

.p20 {
  padding: 20px;
}

.p25 {
  padding: 25px;
}

.p30 {
  padding: 30px;
}

.p40 {
  padding: 40px;
}

/*Padding top & Bottom*/
.ptb0 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.ptb0-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.ptb0-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.ptb1 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.ptb1-5 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.ptb2 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.ptb2-5 {
  padding-top: 25px;
  padding-bottom: 25px;
}
.ptb3 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.ptb3-5 {
  padding-top: 35px;
  padding-bottom: 35px;
}
.ptb4 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.ptb4-5 {
  padding-top: 45px;
  padding-bottom: 45px;
}
.ptb5 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.ptb5-5 {
  padding-top: 55px;
  padding-bottom: 55px;
}
.ptb6 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.ptb6-5 {
  padding-top: 65px;
  padding-bottom: 65px;
}
.ptb7 {
  padding-top: 70px;
  padding-bottom: 70px;
}
.ptb7-5 {
  padding-top: 75px;
  padding-bottom: 75px;
}
.ptb8 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.ptb8-5 {
  padding-top: 85px;
  padding-bottom: 85px;
}
.ptb9 {
  padding-top: 90px;
  padding-bottom: 90px;
}

/*Padding left & right*/
.plr0 {
  padding-left: 0px;
  padding-right: 0px;
}
.plr0-5 {
  padding-left: 5px;
  padding-right: 5px;
}
.plr1 {
  padding-left: 10px;
  padding-right: 10px;
}
.plr1-5 {
  padding-left: 15px;
  padding-right: 15px;
}
.plr2 {
  padding-left: 20px;
  padding-right: 20px;
}
.plr2-5 {
  padding-left: 25px;
  padding-right: 25px;
}
.plr3 {
  padding-left: 30px;
  padding-right: 30px;
}
.plr3-5 {
  padding-left: 35px;
  padding-right: 35px;
}
.plr4 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}
.plr4-5 {
  padding-left: 45px;
  padding-right: 45px;
}
.plr5 {
  padding-left: 50px;
  padding-right: 50px;
}
.plr5-5 {
  padding-left: 55px;
  padding-right: 55px;
}
.plr6 {
  padding-left: 60px;
  padding-right: 60px;
}
.plr7 {
  padding-left: 70px;
  padding-right: 70px;
}
.plr150 {
  padding-left: 150px;
  padding-right: 150px;
}

/* Padding Left */
.pl0 {
  padding-left: 0px;
}
.pl0-5 {
  padding-left: 5px;
}
.pl0-7 {
  padding-left: 7px;
}
.pl1 {
  padding-left: 10px;
}
.pl1-5 {
  padding-left: 15px;
}
.pl2 {
  padding-left: 20px;
}
.pl2-5 {
  padding-left: 25px;
}
.pl3 {
  padding-left: 30px;
}
.pl3-5 {
  padding-left: 35px;
}
.pl4 {
  padding-left: 40px;
}
.pl4-5 {
  padding-left: 45px;
}
.pl5 {
  padding-left: 50px;
}
.pl5-5 {
  padding-left: 55px;
}
.pl6 {
  padding-left: 60px;
}
.plp28 {
  padding-left: 28%;
}
.pl-200 {
  padding-left: 200px;
}

/* Padding Right */
.pr0 {
  padding-right: 0px;
}
.pr0-5 {
  padding-right: 5px;
}
.pr1 {
  padding-right: 10px;
}
.pr1-5 {
  padding-right: 15px;
}
.pr2 {
  padding-right: 20px;
}
.pr2-5 {
  padding-right: 25px;
}
.pr3 {
  padding-right: 30px;
}
.pr3-5 {
  padding-right: 35px;
}
.pr4 {
  padding-right: 40px;
}
.pr4-5 {
  padding-right: 45px;
}
.pr5 {
  padding-right: 50px;
}
.pr5-5 {
  padding-right: 55px;
}
.pr6 {
  padding-right: 60px;
}

.pr81 {
  padding-right: 81px;
}

/* Padding Top */
.pt0 {
  padding-top: 0px;
}
.pt0-5 {
  padding-top: 5px;
}
.pt1 {
  padding-top: 10px;
}
.pt1-5 {
  padding-top: 15px;
}
.pt2 {
  padding-top: 20px;
}
.pt2-5 {
  padding-top: 25px;
}
.pt3 {
  padding-top: 30px;
}
.pt3-5 {
  padding-top: 35px;
}
.pt4 {
  padding-top: 40px;
}
.pt4-5 {
  padding-top: 45px;
}
.pt5 {
  padding-top: 50px;
}
.pt5-5 {
  padding-top: 55px;
}
.pt6 {
  padding-top: 60px;
}
.pt6-5 {
  padding-top: 65px;
}
.pt7 {
  padding-top: 70px;
}
.pt7-5 {
  padding-top: 75px;
}
.pt8 {
  padding-top: 80px;
}
.pt8-5 {
  padding-top: 85px;
}
.pt9 {
  padding-top: 90px;
}
.pt200 {
  padding-top: 200px;
}

/* Padding Bottom */
.pb0 {
  padding-bottom: 0px;
}
.pb0-5 {
  padding-bottom: 5px;
}
.pb0-7 {
  padding-bottom: 7px;
}
.pb1 {
  padding-bottom: 10px;
}
.pb1-5 {
  padding-bottom: 15px;
}
.pb2 {
  padding-bottom: 20px;
}
.pb2-5 {
  padding-bottom: 25px;
}
.pb3 {
  padding-bottom: 30px;
}
.pb3-5 {
  padding-bottom: 35px;
}
.pb4 {
  padding-bottom: 40px;
}
.pb4-5 {
  padding-bottom: 45px;
}
.pb5 {
  padding-bottom: 50px;
}
.pb5-5 {
  padding-bottom: 55px;
}
.pb6 {
  padding-bottom: 60px;
}
.pb6-5 {
  padding-bottom: 65px;
}
.pb7 {
  padding-bottom: 70px;
}
.pb7-5 {
  padding-bottom: 75px;
}
.pb8 {
  padding-bottom: 80px;
}
.pb8-5 {
  padding-bottom: 85px;
}
.pb9 {
  padding-bottom: 90px;
}
.pb16 {
  padding-bottom: 160px;
}

/*------------------------------------*/

/* MARGIN */

/*Margin top & bottom*/
.mtb0 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.mtb0-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.mtb1 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mtb1-5 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.mtb2 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mtb2-5 {
  margin-top: 25px;
  margin-bottom: 25px;
}
.mtb3 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.mtb3-5 {
  margin-top: 35px;
  margin-bottom: 35px;
}
.mtb4 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.mtb4-5 {
  margin-top: 45px;
  margin-bottom: 45px;
}
.mtb5 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.mtb5-5 {
  margin-top: 55px;
  margin-bottom: 55px;
}
.mtb6 {
  margin-top: 60px;
  margin-bottom: 60px;
}
.mtb6-5 {
  margin-top: 65px;
  margin-bottom: 65px;
}
.mtb7 {
  margin-top: 70px;
  margin-bottom: 70px;
}
.mtb7-5 {
  margin-top: 75px;
  margin-bottom: 75px;
}
.mtb8 {
  margin-top: 80px;
  margin-bottom: 80px;
}
.mtb8-5 {
  margin-top: 85px;
  margin-bottom: 85px;
}
.mtb9 {
  margin-top: 90px;
  margin-bottom: 90px;
}

/*Margin left & right*/

.mlr0 {
  margin-left: 0px;
  margin-right: 0px;
}
.mlr0-5 {
  margin-left: 5px;
  margin-right: 5px;
}
.mlr1 {
  margin-left: 10px;
  margin-right: 10px;
}
.mlr1-5 {
  margin-left: 15px;
  margin-right: 15px;
}
.mlr2 {
  margin-left: 20px;
  margin-right: 20px;
}
.mh2-5 {
  margin-left: 25px;
  margin-right: 25px;
}
.mlr3 {
  margin-left: 30px;
  margin-right: 30px;
}
.mlr3-5 {
  margin-left: 35px;
  margin-right: 35px;
}
.mlr4 {
  margin-left: 40px;
  margin-right: 40px;
}
.mlr4-5 {
  margin-left: 45px;
  margin-right: 45px;
}
.mlr5 {
  margin-left: 50px;
  margin-right: 50px;
}
.mlr5-5 {
  margin-left: 55px;
  margin-right: 55px;
}
.mlr6 {
  margin-left: 60px;
  margin-right: 60px;
}

/* Margin Left */
.ml0 {
  margin-left: 0px;
}
.ml0-5 {
  margin-left: 5px;
}
.ml1 {
  margin-left: 10px;
}
.ml1-5 {
  margin-left: 15px;
}
.ml2 {
  margin-left: 20px;
}
.ml2-5 {
  margin-left: 25px;
}
.ml3 {
  margin-left: 30px;
}
.ml3-5 {
  margin-left: 35px;
}
.ml4 {
  margin-left: 40px;
}
.ml4-5 {
  margin-left: 45px;
}
.ml5 {
  margin-left: 50px;
}
.ml5-5 {
  margin-left: 55px;
}
.ml6 {
  margin-left: 60px;
}
.ml11-0 {
  margin-left: 110px;
}

/* Margin Right */
.mr0 {
  margin-right: 0px;
}
.mr0-5 {
  margin-right: 5px;
}
.mr1 {
  margin-right: 10px;
}
.mr1-5 {
  margin-right: 15px;
}
.mr2 {
  margin-right: 20px;
}
.mr2-5 {
  margin-right: 25px;
}
.mr3 {
  margin-right: 30px;
}
.mr3-5 {
  margin-right: 35px;
}
.mr4 {
  margin-right: 40px;
}
.mr4-5 {
  margin-right: 45px;
}
.mr5 {
  margin-right: 50px;
}
.mr5-5 {
  margin-right: 55px;
}
.mr6 {
  margin-right: 60px;
}
.mr100 {
  margin-right: 100px;
}

/* Margin Top */
.mt0 {
  margin-top: 0px;
}
.mt0-5 {
  margin-top: 5px;
}
.mt1 {
  margin-top: 10px;
}
.mt1-5 {
  margin-top: 15px;
}
.mt2 {
  margin-top: 20px;
}
.mt2-5 {
  margin-top: 25px;
}
.mt3 {
  margin-top: 30px;
}
.mt3-5 {
  margin-top: 35px;
}
.mt4 {
  margin-top: 40px;
}
.mt4-5 {
  margin-top: 45px;
}
.mt5 {
  margin-top: 50px;
}
.mt5-5 {
  margin-top: 55px;
}
.mt6 {
  margin-top: 60px;
}
.mt6-5 {
  margin-top: 65px;
}
.mt7 {
  margin-top: 70px;
}
.mt7-5 {
  margin-top: 75px;
}
.mt8 {
  margin-top: 80px;
}
.mt8-5 {
  margin-top: 85px;
}
.mt9 {
  margin-top: 90px;
}
.mt10 {
  margin-top: 100px;
}
.mt130 {
  margin-top: 130px;
}
/* Margin top negative */
.mtn8 {
  margin-top: -8px;
}
.mtn10 {
  margin-top: -10px;
}
/* Margin Bottom */
.mb0 {
  margin-bottom: 0px !important;
}
.mb0-5 {
  margin-bottom: 5px;
}
.mb1 {
  margin-bottom: 10px !important;
}
.mb1-5 {
  margin-bottom: 15px;
}
.mb2 {
  margin-bottom: 20px;
}
.mb2-5 {
  margin-bottom: 25px;
}
.mb3 {
  margin-bottom: 30px !important;
}
.mb3-5 {
  margin-bottom: 35px;
}
.mb4 {
  margin-bottom: 40px;
}
.mb4-5 {
  margin-bottom: 45px;
}
.mb5 {
  margin-bottom: 50px !important;
}
.mb5-5 {
  margin-bottom: 55px;
}
.mb6 {
  margin-bottom: 60px;
}
.mb6-5 {
  margin-bottom: 65px;
}
.mb7 {
  margin-bottom: 70px;
}
.mb7-5 {
  margin-bottom: 75px;
}
.mb8 {
  margin-bottom: 80px;
}
.mb8-5 {
  margin-bottom: 85px;
}
.mb9 {
  margin-bottom: 90px;
}

/**Margin-Auto**/
.magAuto {
  margin: 0 auto;
}
.mrAuto {
  margin: 0 0 0 auto;
}
.mrlAuto {
  margin-left: auto;
}

/**Width**/
.width18 {
  width: 18px;
}
.width20 {
  width: 20px;
}
.width30 {
  width: 30px;
}
.width80 {
  width: 80px;
}
.width120 {
  width: 120px;
}
.width140 {
  width: 140px;
}
.width155 {
  width: 155px;
}
.width200 {
  width: 200px;
}
.width-550 {
  width: 550px;
}
.width-800 {
  width: 800px;
}
.width100 {
  width: 100%;
}
.width75 {
  width: 75%;
}
.width50 {
  width: 50%;
}
.width45 {
  width: 45%;
}
.width33 {
  width: 33.3333%;
}
.width25 {
  width: 25%;
}
.width15 {
  width: 15%;
}
.width85 {
  width: 85%;
  max-height: 100vh;
  min-height: 100vh;
  overflow-y: scroll;
}
.width92 {
  width: 92%;
}

.height-100 {
  height: 100%;
}

.vh {
  height: 100vh;
}

/*--------------------*/

/**flex styles**/
.flx {
  display: flex;
}
.flx-auto {
  flex: auto;
}
.flx-col {
  flex-direction: column;
}
.justify-flexEnd {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-around {
  justify-content: space-around;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.align-baseline {
  align-items: baseline;
}
.align-flexEnd {
  align-items: flex-end;
}
.align-self-center {
  align-self: center;
}
.align-self-end {
  align-self: flex-end;
}

/*------------------------*/

/**Text-align**/
.tar {
  text-align: right;
}
.tal {
  text-align: left;
}
.tac {
  text-align: center;
}
.tae {
  text-align: end;
}
.tawc {
  text-align: -webkit-center;
}

/**Position**/
.posRel {
  position: relative;
}
.posAbs {
  position: absolute;
}
.posFix {
  position: fixed;
}
.posSti {
  position: sticky;
  top: 0;
}

/**Display**/
.d-none {
  display: none;
}
.hidden {
  display: none;
}
.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}

/**Border**/
.bordbtmWhite1 {
  border-bottom: 1px solid $white;
}
.bordTGray {
  border-top: 1px solid #d3d3d3;
}
.bordLGray {
  border-left: 1px solid #d3d3d3;
}
.bordLWhite {
  border-left: 1px solid $white;
}
.bordRGray {
  border-right: 1px solid #d3d3d3;
}
.bordBGray {
  border-bottom: 1px solid black;
}
.bordGray {
  border: 1px solid black;
}
.bordRed {
  border: 1px solid red !important;
}
.bordWhite {
  border: 2px solid $white;
}
.borderBtmThin {
  border-bottom: 1px solid $border-thin-clr;
}

/**Font-weight**/
.fntLighter {
  font-weight: 300;
}
.fntLight {
  font-weight: 400;
}
.fntSemiBold {
  font-weight: 500;
}
.fntBold {
  font-weight: 600;
}

.strong {
  font-weight: bold;
  font-size: 25px;
  font-family: "avenir_bold";
}
.font11 {
  font-size: 11px;
}
.font12 {
  font-size: $font-size-12;
}
.font13 {
  font-size: $font-size-13;
}
.font14 {
  font-size: $font-size-14;
}
.font15 {
  font-size: $font-size-15;
}
.font16 {
  font-size: $font-size-16;
}
.font17 {
  font-size: $font-size-17;
}
.font18 {
  font-size: $font-size-18;
}
.font20 {
  font-size: 20px;
}
.font22 {
  font-size: 22px;
}
.font25 {
  font-size: 25px;
}
.font30 {
  font-size: 30px;
}
.fontper {
  font-size: 87%;
}

.height-50 {
  height: 50px;
}

.height-60 {
  height: 60px;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-20 {
  gap: 20px;
}

.gap-25 {
  gap: 25px;
}

.gap-30 {
  gap: 30px;
}

.gap-35 {
  gap: 35px;
}

.gap-40 {
  gap: 40px;
}

.gap-50 {
  gap: 50px;
}

.gap-60 {
  gap: 60px;
}

.gap-80 {
  gap: 80px;
}

.gap-100 {
  gap: 100px;
}

.gap-200 {
  gap: 200px;
}

.cursor {
  cursor: pointer;
}

.flex-wrap {
  flex-wrap: wrap;
}

.top-5 {
  top: 5px;
}

.top20 {
  top: 20px;
}

.right10 {
  right: 10px;
}

.top-60 {
  top: 60px;
}

.top-50 {
  top: 50px;
}

.top-52 {
  top: 52px;
}

.bg-white {
  background: $white !important;
}

.header-height {
  position: relative;
  top: 60px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.poppins-family {
  font-family: "Poppins" !important;
}

.white-clr {
  color: $white;
}

.width-fit {
  width: fit-content;
}

.left0 {
  left: 0;
}

.left20 {
  left: 20px;
}

.left50 {
  left: 50px;
}

.right0 {
  right: 0;
}

.right20 {
  right: 20px;
}

.top50percent {
  top: 50%;
}

.btn-clr-bg {
  background: $btn-clr;
}

.bdr-radius-5 {
  border-radius: $radius-5;
}

.bdr-radius-8 {
  border-radius: $radius-8;
}

.bdr-radius-10 {
  border-radius: $radius-10;
}

.text-darkGray {
  color: #929292;
}

.box-shadow {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.txt-clr {
  color: $menu-bg-clr;
}

.txt-clr-bg {
  background: $menu-bg-clr;
}

.addr-txt-clr {
  color: $exporter-addr;
}

.txt-dcr-underline {
  text-decoration: underline;
}
